.App {
    background-color: #191F23;
    display: flex;
    color: #717577;
    overflow: hidden;
}

#leftsidebar {
    height: 100vh;
    width: 10vw;
    background-color: #121a1d;
    border-right: 2px solid #383f41;
}

#logo {
    min-height: 10vh;
    line-height: 10vh;
    width:  98%;
    background-color: #121a1d;
    border-bottom: 2px solid #383f41;
    font-size: 2.4rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

#stats ul {
    margin: 15%;
    padding: 0;
    height: 100px;
    border: 1px solid white;
    text-align: center;
    line-height: 25px;
}

#buttonContainer {
    border: none !important
}

#stats span {
    border-bottom: 1px solid white;
    padding: 4px;
    font-size: 18px;
}

#stats p {
    font-size: 25px;
    overflow: hidden;
}

#stats button {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #717577;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#stats button:active {
    transform: scale(.8);
}

#rightWrapper {
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
} 

#inputWrapper {
    background-color: #151d20;
    width: 100vw;
    min-height: 10vh;
    border-bottom: 2px solid #383f41;
}

.inputNumber {
    display: block;
    height: 35px;
    width: 10vw;
    min-width: 105px;
    margin: 1rem;
    margin-left: 5vw;
    margin-top: 3vh;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #bbb;
    box-sizing: border-box;
    color: black;
    font-size: 21px;
}

#graphWrapper {
    display: flex;
    justify-content: left;
}

#forwardBack {
    min-width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#forwardBack span {
    height: 100px;
    display: flex;
    justify-content: center;
}

#forwardBack button {
    width: 100px;
    font-size: 5rem;
    border-radius: 50px;
    cursor: pointer;
    border: 5px solid #383f41;
}

#forwardBack button:active {
    transform: scale(.9);
    color: green;
}

.graph {
    min-width: 80%;
    min-height: 65vh;
    background-color: #192124;
}

#infoText {
    min-height: 25vh;
    width: 96%;
    background-color: #121a1d;
    border-top: 2px solid #383f41;
    padding: 2%;
    text-indent: 50px;
    font-size: 21px;
}

#infoText p {
    padding: 1%;
    height: 55%;
    border: 2px solid #383f41;
    border-right: hidden;
    overflow: scroll;
    overflow-x: hidden;
}

#infoText a {
    color: yellow;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media only screen and (max-width: 1100px) {
    #logo {
        font-size: 3vw;
    }

    #stats ul {
        margin: 10px;
    }

    #stats span {
        font-size: 14px;
    }

    #stats p {
        font-size: 3vw;
    }
    
    #stats button {
        font-size: 13px;
    }
    
  }