/* 
BG-Color : #191F23
Main-Text : #717577
Sidebar-Color: #12181C
Sidebar-Text: #767D80
Sidebar-Border: #646F71

*/

.App {
    background-color: #191F23;
    display: flex;
    color: #717577;
    overflow: hidden;
}

/* * {
    border: dotted 5px black;
} */

#sidebar {
    height: 100vh;
    width: 10vw;
    background-color: #121a1d;
    border-right: 2px solid #383f41;
}

#logo {
    min-height: 10vh;
    line-height: 10vh;
    width:  98%;
    background-color: #121a1d;
    border-bottom: 2px solid #383f41;
    font-size: 3rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

#stat {
}

#rightWrapper {
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
} 

#inputWrapper {
    background-color: #151d20   ;
    width: 100vw;
    min-height: 10vh;
    border-bottom: 2px solid #383f41;
}

.inputNumber {
    display: block;
    height: 35px;
    width: 8vw;
    min-width: 105px;
    margin: 1rem;
    margin-left: 5vw;
    margin-top: 3vh;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #bbb;
    box-sizing: border-box;
    color: black;
    font-size: 21px;
}

#graphWrapper {
    display: flex;
    justify-content: left;
}

#forwardBack {
    min-width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#forwardBack span {
    height: 100px;
    display: flex;
    justify-content: center;
}

#forwardBack button {
    width: 100px;
    font-size: 5rem;
    border-radius: 50px;
    cursor: pointer;
    border: 5px solid #383f41;
}

#forwardBack button:active {
    transform: scale(.9);
    color: green;
}

#back {

}

.graph {
    min-width: 80%;
    min-height: 65vh;
    background-color: #192124;
}

#infoText {
    min-height: 25vh;
    width: 96%;
    background-color: #121a1d;
    border-top: 2px solid #383f41;
    padding: 2%;
    text-indent: 50px;
    font-size: 21px;
}